[alias]
	st = status -sb
	br = branch --show-current
	co = checkout
[user]
	email = julian.r8y@gmail.com
	name = Julian Ray
[core]
	editor = nvim
[init]
	defaultBranch = main
	templateDir = /prj/qct/coredev/hexnn/sitelinks/arch/pkg/githook_templates/x86_64/master/TEMPL
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
